---
layout: default
---

<div class="events">

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <div class="entry">
      {% include frontpage_post.html entry=post %}
    </div>
{% endfor %}

</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
{% endif %}
