<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.name | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    {% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.name | default: site.github.repository_name }}</h1>
	<h2> Berlin Hack and Tell is a monthly meetup for creative hackers, designers and artists</h2>

	<p> The rules are simple: On every last Tuesday of the month, there are eight slots for people that want
	    to present their hacks. Every presenter has 5 minutes to present their hack, followed by five more minutes of questions 
	    from the audience. The realm of what people can present is very open (e.g. your software side project or your latest
	    hardware hack), we just ask presenters to follow our code of conduct and not pitch their startup but instead use this
	    as a space to show all the silly things that they cannot present anywhere else. <br />
	    Think of it like a sort of standup-hacking. </p>
	<p> If this sounds fund to you, check our some of the past project below and visit our meetup page. We are looking forward to seeing you
            at the next Berlin Hack and Tell! </p>
	    
        <section id="profiles">
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          <a href="https://www.meetup.com/Berlin-Hack-and-Tell/" class="btn btn-meetup"><span class="icon"></span>On Meetup</a>
          <a href="https://www.twitter.com/BerlinHacknTell/" class="btn btn-twitter"><span class="icon"></span>On Twitter</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
